// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : true;

@include border-box-sizing;
* { @include box-sizing(border-box); }

// COLOURS
$clr-primary: rgb( 255,255,255 ); // White
$clr-secondary: rgb( 101,84,77 ); // Dark Brown.  Footer and text on tertiary
$clr-tertiary: rgb( 236,228,225 ); // Light Brown
$clr-quaternary: rgb( 90,123,124 ); // Green.  Buttons
$clr-quinary: rgb( 71,5,3 ); // Reddish. text
$clr-senary: rgb( 196,182,177 ); // Light brown for text
// $clr-septenary: rgb( 255,255,255 );
// $clr-octonary: rgb( 255,255,255 );
// $clr-nonary: rgb( 255,255,255 );
// $clr-denary: rgb( 255,255,255 );


@font-face {
  font-family: 'icons';
  src: url('icon.eot'); /* IE9 Compat Modes */
  src: url('icon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('icon.woff') format('woff'), /* Modern Browsers */
  url('icon.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('icon.svg#svgFontName') format('svg'); /* Legacy iOS */
}


%btn { background:$clr-quaternary; color:$clr-primary; text-transform:uppercase; text-decoration:none; padding:0.5em 1em; }

%clear-after {
  &:after { content:""; clear:both; display:block; }
}

%icon {
  display:inline-block;

  &:before {
    content:attr(data-icon);
    font-family: 'WebIcons';
    display:inline-block;
    margin-right:10px;
  }
}


h1,h2,h3,h4,h5,h6 { text-align:center; }

body {
  // font-family: 'Montserrat', sans-serif;
  font-size:1em;
  // color:$clr-quinary;
  margin:0;

  a {
    text-decoration: none;
    // color:$clr-quaternary;
    &:hover { text-decoration:underline; }
  }
}

.alert {
  padding:0.5em 1em;
  background:$clr-quaternary;
  color:$clr-primary;
  font-weight:lighter;
}


@import "static_pages";
@import "listings";
@import "images";
@import "listings";