<section>
  <img src="/assets/img/logo.svg" class="logo" />

  <div class="contact">
    <p>
      28 Appleton Road, Cumnor, Oxfordshire <br>
      <a href="http://goo.gl/MjUap" target="_blank">OX2 9QH</a>
    </p>

    <ul>
      <li><strong>Tel:</strong> 01865 862329</li>
      <li><strong>Fax:</strong> 01865 862048</li>
      <li><a href="mailto:enquiries@bearandraggedstaff.com?subject=Website Enquiry">Email us</a></li>
    </ul>
  </div>

  <div class="times">
    <table>
      <tr><th colspan="2">Food served all day</th></tr>
      <tr>
        <td>Mon-Thurs</td> <td>12:00 - 21:30</td>
      </tr>
      <tr>
        <td>Fri-Sat</td> <td>12:00 - 22:00</td>
      </tr>
      <tr>
        <td>Sun</td> <td>12:00 - 21:00</td>
      </tr>
    </table>
  </div>

  <nav class="social">
    <a href="http://www.facebook.com/home.php#!/pages/The-Bear-Ragged-Staff/134281486596585" target="_blank" data-icon="s"></a>
    <a href="http://twitter.com/#!/bear_cumnor" target="_blank" data-icon="r"></a>
  </nav>
</section>
