<div id="booking" class="filterer">
  <h3>Book a</h3>
  <div class="tabs">
    <button data-link="table">Table</button>
    <button data-link="room">Room</button>
  </div>

  <div class="content">
    <article data-content="table">
      <p>Why not see if your table is available through our online booking system.</p>
      <p>
        <a href="http://clickabooking.com/tms/bearandraggedstaff/AvailCheck.htm">BOOK A TABLE NOW</a>
        <a href="tel:+441865862329">01865 862329</a>
      </p>
    </article>

    <article data-content="room">
      <p>Why not see if your room is available through our online booking system.</p>
      <p>
        <a href="http://www.welcome-online.net/connect.asp?id=7655" target="_blank">BOOK A ROOM NOW</a>
        <a href="tel:+441865862329">01865 862329</a>
      </p>
    </article>
  </div>
</div>

<!-- <a id="book" href="#"><p> Book a table with</p><img src="media/layout/livebooking.jpg" class="live"></a> -->

<div id="bedrooms" class="filterer">
  <div class="tabs">
    <button data-link="old-cottage">Old Cottage Wing</button>
    <button data-link="landlords">Landlord's Wing</button>
  </div>

  <div class="content">
    <a href="/bedrooms/bedroom-1" data-bedroom="1" data-content="old-cottage">
      <img src="/media/pictures/bedrooms/bedrooms-1.jpg" />
    </a>
    <a href="/bedrooms/bedroom-2" data-bedroom="2" data-content="old-cottage">
      <img src="/media/pictures/bedrooms/bedrooms-2.jpg" />
    </a>
    <a href="/bedrooms/bedroom-3" data-bedroom="3" data-content="old-cottage">
      <img src="/media/pictures/bedrooms/bedrooms-3.jpg" />
    </a>
    <a href="/bedrooms/bedroom-4" data-bedroom="4" data-content="old-cottage">
      <img src="/media/pictures/bedrooms/bedrooms-4.jpg" />
    </a>
    <a href="/bedrooms/bedroom-5" data-bedroom="5" data-content="landlords">
      <img src="/media/pictures/rooms/thumbs/room-5.jpg" />
    </a>
    <a href="/bedrooms/bedroom-6" data-bedroom="6" data-content="landlords">
      <img src="/media/pictures/rooms/thumbs/room-6.jpg" />
    </a>
    <a href="/bedrooms/bedroom-7" data-bedroom="7" data-content="landlords">
      <img src="/media/pictures/rooms/thumbs/room-7.jpg" />
    </a>
    <a href="/bedrooms/bedroom-8" data-bedroom="8" data-content="landlords">
      <img src="/media/pictures/rooms/thumbs/room-8.jpg" />
    </a>
    <a href="/bedrooms/bedroom-9" data-bedroom="9" data-content="landlords">
      <img src="/media/pictures/rooms/thumbs/room-9.jpg" />
    </a>
  </div>
</div>
