<div id="promo">
  <div>
    <h3>Corporate Meetings &amp; <br> Entertainment at the Bear </h3>
    <p>Are you sick of hosting corporate meetings....</p>
    <a href="./corporate.php" class="read_more">MORE DETAILS</a>
  </div>

  <div>
    <h3>SUNDAY ROASTS</h3>
    <h2>from £11.50</h2>
    <p>served Sunday from 12:00 to 5:00</p>
    <a href="./sunday-lunch" class="read_more">MORE DETAILS</a>
  </div>

  <div>
    <h3>Rooms</h3>
    <p>At Long Last...Cumnor Gets its <br>own Historic Country Inn</p>
    <a href="./rooms" class="read_more">MORE DETAILS</a>
  </div>

  <div>
    <h3>FUNCTIONS &amp; PARTIES</h3>
    <p>We can cater for the whole range of corporate <br>and private catering requirements</p>
    <a href="./functions" class="read_more">MORE DETAILS</a>
  </div>
</div>


<div id="offers">
  <div>
    <h3> Pumpkin Night </h3>
    <p>Friday 1st November 2013</p>
    <a href="./halloween.php" class="read_more">READ MORE</a>
  </div>

  <div>
    <h3> EARLY FUEL FOR YOUR DAY!</h3>
    <p>Now open at 7am for our <br> acclaimed Breakfasts.</p>
    <a href="./media/pdf/breakfast.pdf" class="read_more">VIEW MENU</a>
  </div>

  <div>
    <h3>HAVE A DRINK ON US</h3>
    <p><em>when you become a friend</em></p>
    <p>&nbsp;</p>
    <p><small>T&amp;C's APPLY</small></p>
    <a href="./our-friends" class="read_more">GET VOUCHER</a>
  </div>

  <div>
    <h3>GET A FREE COOKED BREAKFAST</h3>
    <p>When you book a room online</p>

    <a href="http://www.welcome-online.net/connect.asp?id=7655" target="_blank">BOOK A ROOM</a>
  </div>
</div>


<div id="christmas">
  <div class="xmas">
    <h3>Christmas Functions at the Bear</h3>
    <p>
      Please take a look and see what we have on<br>
      offer for christmas this year
    </p>

    <a href="./christmas.php" class="read_more">MORE DETAILS</a>
  </div>
</div>
