/*
	Colours
*/
$clr-primary: #FFF; // White
$clr-secondary: #47236d; // Purple
$clr-tertiary: #6c8b7c; // Green
$clr-quaternary: #dad4e2; // offwhite

/*
	Fonts
*/
$fnt-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fnt-secondary: Georgia, serif;
//$font-tertiary: Verdana;


/*
	Basic Grid
*/
$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : true;
